h1{
    text-align: center;
    background-color: #90DED8;
    color: #BD611A;
}

.bb{
    border-bottom: #BD611A;
}

ol{
    background-color: #fdd4ae;
}

.bbr{
    width: 160px;
    height: 110px;
}

.hhh{
    background-color: #FFCA98;
}

.nnn{
    border-double: #2C5D5D;
}

h3{
    background-color: #F8AE70	;
    color: #1C8D8D;
}

.mmm{
    background-color: #F8AE70;
}

.qqq{
    background-color: #fdd4ae;
}

.lll img{
    width: 190px;
}

.hhv img {
    width: 300px;
}
